@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2rem 2rem 8rem 2rem;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.title {
    text-align: center;
    padding-bottom: 1rem;
}

.users {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.user {
    border: 1px solid purple;
    border-radius: 10px;
    padding: 3rem;
}

@media screen and (max-width: 576px) {
    .users {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .users {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .users {
        grid-template-columns: repeat(2, 1fr);
    }
}